<!doctype html>
<!--
	Template:	 Unika - Responsive One Page HTML5 Template
	Author:		 imransdesign.com
	URL:		 http://imransdesign.com/
    Designed By: https://www.behance.net/poljakova
	Version:	1.0	
-->
<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Brian Neely - Nuclear Engineering and Business</title>
		<meta name="description" content="The homepage for Brian Neely, a Masters of Engineering student in Nuclear Engineering. He has a MBA and has worked as a Project Engineer Intern and Data Scientist.">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->

		<!-- Libs and Plugins CSS -->
		<link rel="stylesheet" href="../static/inc/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/inc/animations/css/animate.min.css">
		<link rel="stylesheet" href="../static/inc/font-awesome/css/font-awesome.css"> <!-- Font Icons -->
		<link rel="stylesheet" href="../static/inc/owl-carousel/css/owl.carousel.css">
		<link rel="stylesheet" href="../static/inc/owl-carousel/css/owl.theme.css">

		<!-- Theme CSS -->
        <link rel="stylesheet" href="../static/css/reset.css">
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/mobile.css">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="../static/css/skin/cool-gray.css">
        <!-- <link rel="stylesheet" href="css/skin/ice-blue.css"> -->
        <!-- <link rel="stylesheet" href="css/skin/summer-orange.css"> -->
        <!-- <link rel="stylesheet" href="css/skin/fresh-lime.css"> -->
        <!-- <link rel="stylesheet" href="css/skin/night-purple.css"> -->

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

        <!-- Custom Font Awesome -->


	</head>

    <body data-spy="scroll" data-target="#main-navbar" id="page-top">
        <div class="page-loader"></div>  <!-- Display loading image while page loads -->
    	<div class="body">
        
            <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

                  <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand page-scroll" href="#page-top">Neelybd</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="#page-top">Home</a></li>
                            <li><a class="page-scroll" href="#highlights-section">Highlights</a></li>
                            <li><a class="page-scroll" href="#timeline-section">Timeline</a></li>
                            <li><a class="page-scroll" href="#contact-section">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container -->
                </nav>
                <!-- End Navbar -->

            </header>
            <!-- ========= END HEADER =========-->
            
            
            
            
        	<!-- Begin text carousel intro section -->
			<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(../static/img/header.jpg);">
				
				<div class="container">
					<div class="caption text-center text-white" data-stellar-ratio="0.7">

						<div id="owl-intro-text" class="owl-carousel">
							<div class="item">
								<h1>Brian Neely</h1>
								<p>Highlights about me</p>
                                <div class="extra-space-l"></div>
								<a class="btn btn-blank page-scroll" href="#highlights-section" target="_blank" role="button">Take Me There</a>
							</div>
							<div class="item">
								<h1>What can I do for you?</h1>
								<p>My Skills</p>
								<div class="extra-space-l"></div>
								<a class="btn btn-blank page-scroll" href="#specialties-section" target="_blank" role="button">Take Me There</a>
							</div>
							<div class="item">
								<h1>Get to know me </h1>
								<p>How to Contact Me</p>
								<div class="extra-space-l"></div>
								<a class="btn btn-blank page-scroll" href="#contact-section" target="_blank" role="button">Take Me There</a>
							</div>
						</div>

					</div> <!-- /.caption -->
				</div> <!-- /.container -->

			</section>
			<!-- End text carousel intro section -->
                
                
                
                
            <!-- Begin about section -->
			<section id="highlights-section" class="page bg-style1">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>Highlights</h2>
                            <div class="divider"></div>
                            <p class="subtitle"></p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-users"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Who Are You?</h4>
                                        <p>Brian Neely: Data Scientist, Engineer, and Project Manger.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-diamond"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>What Do You Want?</h4>
                                        <p>To solve impossible challenges that change people's lives.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.6s">
                                    <span class="rotate-box-icon"><i class="fa fa-map-signs"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Where Are You Going?</h4>
                                        <p>Anywhere I can make a difference.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.6s">
                                    <span class="rotate-box-icon"><i class="fa fa-map-marker"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Where Are You Now?</h4>
                                        <p>I am everywhere where data exists.</p>
                                    </div>
                                </a>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate box-1 -->
            </section>
            <!-- End about section -->

              
              
            <!-- Begin Services -->
            <section id="specialties-section" class="page text-center">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Specialties</h2>
                            <div class="divider"></div>
                            <p class="subtitle">What I can do for you</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
            
                <!-- Begin rotate box-2 -->
                <div class="rotate-box-2-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-cloud"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Data Science</h4>
                                        <p>Keyence:<br>
                                        Data Scientist<br>
                                        Cambia Health Solutions:<br>
                                        Data Scientist</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-cog"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Nuclear Engineering</h4>
                                        <p>Oregon State University:<br>
                                        Master's of Nuclear Engineering</p>
                                    </div>
                                </a>
                            </div>
            
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-usd"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Business</h4>
                                        <p>Willamette Univeristy:<br>
                                        Master's of Business Administration</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                    <span class="rotate-box-icon"><i class="fa fa-pencil"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Project Management</h4>
                                        <p>Los Alamos National Lab:<br>
                                        Project Controller</p>
                                    </div>
                                </a>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate-box-2 -->
            </section>
            <!-- End Services -->
              
              
              
              
            <!-- Begin testimonials -->
            <section id="timeline-section">
                <div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio=".15" style="background-image: url(../static/img/corvette.jpg);">
                    <div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <section id="timeline">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12 text-center">
                                                <h2 class="section-heading">Timeline</h2>
                                                <h3 class="section-subheading text-muted">My Journey</h3>
                                            </div>
                                        </div>
                                        <div class="divider"></div>
                                        <br><br>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="timeline">
                                                    <li>
                                                        <div class="timeline-image">
                                                            <img class="img-circle img-responsive" src="../static/img/timeline/ucc.jpg" alt="">
                                                        </div>
                                                        <div class="timeline-panel">
                                                            <div class="timeline-heading">
                                                                <h4>2007 - 2009</h4>
                                                                <h4 class="subheading">Umpqua Community College<br>Associates of General Studies</h4>
                                                            </div>
                                                            <div class="timeline-body">
                                                                <p class="text-muted">Graduated with an associates degree while still in high school.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-inverted">
                                                        <div class="timeline-image">
                                                            <img class="img-circle img-responsive" src="../static/img/timeline/oregon_state_university_emblem.png" alt="">
                                                        </div>
                                                        <div class="timeline-panel">
                                                            <div class="timeline-heading">
                                                                <h4>2009 - 2012</h4>
                                                                <h4 class="subheading">Oregon State University<br>Bachelors of Nuclear Engineering</h4>
                                                            </div>
                                                            <div class="timeline-body">
                                                                <p class="text-muted">Conducted a study on the Separation of
                                                                    Precious Metals from Nuclear Waste.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="timeline-image">
                                                            <img class="img-circle img-responsive" src="../static/img/timeline/willamette_university_emblem.png" alt="">
                                                        </div>
                                                        <div class="timeline-panel">
                                                            <div class="timeline-heading">
                                                                <h4>2013 - 2015</h4>
                                                                <h4 class="subheading">Willamette University<br>Masters of Business Administration</h4>
                                                            </div>
                                                            <div class="timeline-body">
                                                                <p class="text-muted">Focus on Project Management and Data Analysis.<br> Consulted for:<br>
                                                                    Kale Uganda, Salem Hospital, and Willamette Valley Humane Society.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-inverted">
                                                        <div class="timeline-image">
                                                            <img class="img-circle img-responsive" src="../static/img/timeline/engineering_intern.jpg" alt="">
                                                        </div>
                                                        <div class="timeline-panel">
                                                            <div class="timeline-heading">
                                                                <h4>June 2014</h4>
                                                                <h4 class="subheading">Licensed<br> Engineering Intern</h4>
                                                            </div>
                                                            <div class="timeline-body">
                                                                <p class="text-muted">Passed the Fundamentals of Engineering examination.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-image">
                                                        <div class="timeline-image">
                                                            <img class="img-circle img-responsive" src="../static/img/timeline/ilisagvik_college.png" alt="">
                                                        </div>
                                                        <div class="timeline-panel">
                                                            <div class="timeline-heading">
                                                                <h4>March 2015</h4>
                                                                <h4 class="subheading">Ilisagvik College
                                                                <br>Lecturer</h4>
                                                            </div>
                                                            <div class="timeline-body">
                                                                <p class="text-muted">Lectured in America's most northern college in Microsoft Project.
                                                                    <br></p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-inverted">
                                                        <div class="timeline-image">
                                                            <img class="img-circle img-responsive" src="../static/img/timeline/willamette_valley_humane.jpg" alt="">
                                                        </div>
                                                        <div class="timeline-panel">
                                                            <div class="timeline-heading">
                                                                <h4>2015</h4>
                                                                <h4 class="subheading">Willamette Valley Humane Society</h4>
                                                            </div>
                                                            <div class="timeline-body">
                                                                <p class="text-muted">Led a 17 member project consulting for the Willamette Valley Humane Society's
                                                                Annual fundraising auction.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-image">
                                                        <div class="timeline-image">
                                                            <img class="img-circle img-responsive" src="../static/img/timeline/cambia.jpg" alt="">
                                                        </div>
                                                        <div class="timeline-panel">
                                                            <div class="timeline-heading">
                                                                <h4>2014 - 2015</h4>
                                                                <h4 class="subheading">Cambia Health Solutions<br>Data Scientist</h4>
                                                            </div>
                                                            <div class="timeline-body">
                                                                <p class="text-muted">Created advanced statistical models using SAS and SPSS
                                                                     Modeler.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-inverted">
                                                        <div class="timeline-image">
                                                            <img class="img-circle img-responsive" src="../static/img/timeline/iie_logo.jpg" alt="">
                                                        </div>
                                                        <div class="timeline-panel">
                                                            <div class="timeline-heading">
                                                                <h4>October 2015</h4>
                                                                <h4 class="subheading">Certificate<br>Six Sigma Greenbelt</h4>
                                                            </div>
                                                            <div class="timeline-body">
                                                                <p class="text-muted">Received IIE's Greenbelt certificate in Six Sigma management.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-image">
                                                        <div class="timeline-image">
                                                            <img class="img-circle img-responsive" src="../static/img/timeline/vigor.png" alt="">
                                                        </div>
                                                        <div class="timeline-panel">
                                                            <div class="timeline-heading">
                                                                <h4>2015</h4>
                                                                <h4 class="subheading">Vigor Industrial<br>Project Engineer Intern</h4>
                                                            </div>
                                                            <div class="timeline-body">
                                                                <p class="text-muted">Supervised the construction of a AP1000 module to ensure
                                                                   adherance to contract specifications and NQA-1, 10CFR50 Appendix B, and
                                                                    AWS D1.1 compliance.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-inverted">
                                                        <div class="timeline-image">
                                                            <img class="img-circle img-responsive" src="../static/img/timeline/oregon_state_university_emblem.png" alt="">
                                                        </div>
                                                        <div class="timeline-panel">
                                                            <div class="timeline-heading">
                                                                <h4>2014 - 2016</h4>
                                                                <h4 class="subheading">Oregon State University<br>Masters of Nuclear Engineering</h4>
                                                            </div>
                                                            <div class="timeline-body">
                                                                <p class="text-muted">Focus on Nuclear Non-Proliferation.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-image">
                                                        <div class="timeline-image">
                                                            <img class="img-circle img-responsive" src="../static/img/timeline/lanl.png" alt="">
                                                        </div>
                                                        <div class="timeline-panel">
                                                            <div class="timeline-heading">
                                                                <h4>2017 - 2017</h4>
                                                                <h4 class="subheading">Los Alamos National Laboratory<br>Project Controller</h4>
                                                            </div>
                                                            <div class="timeline-body">
                                                                <p class="text-muted">Led the forecasting effort for 2 projects totaling over $1 Billion for the refit of a plutonium facility while managing the creation and transition to a database for forecasting. The interim VBA database has shown a reduction in forecasting prediction time by six days per month, a savings of 75%.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="timeline-inverted">
                                                        <div class="timeline-image">
                                                            <img class="img-circle img-responsive" src="../static/img/timeline/keyence.png" alt="">
                                                        </div>
                                                        <div class="timeline-panel">
                                                            <div class="timeline-heading">
                                                                <h4>2018 - Today</h4>
                                                                <h4 class="subheading">Keyence<br>Data Scientist</h4>
                                                            </div>
                                                            <div class="timeline-body">
                                                                <p class="text-muted">The lead Data Scientist for a revolutionary new Keyence product.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
                    <div class="container">

                    </div>
                </div>
            </section>
            <!-- End testimonials -->
                

                
                

            
                
                
                
            <!-- Begin counter up -->
            <section id="counter-section">                					
				<div id="counter-up-trigger" class="counter-up text-white parallax" data-stellar-background-ratio="0.7" style="background-image: url(../static/img/server.png);">
					<div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Fun Facts</h2>
                                <div class="divider"></div>
                                <p class="subtitle">Just so you know</p>
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
					<div class="container">

						<div class="row">

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-file-text-o fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">5</span>
									<p class="lead">Website Revisions</p>
								</div>
							</div>

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-graduation-cap fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">4</span>
									<p class="lead">Degrees Completed</p>
								</div>
							</div>

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-hdd-o fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">106</span>
									<p class="lead">Terabyte Sever</p>
								</div>
							</div>

							<div class="fact last text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-car fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">240,000</span>
									<p class="lead">Miles on Land Rover</p>
								</div>
							</div>

						</div> <!-- /.row -->

                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Connect</h2>
                            <div class="divider"></div>
                            <p class="subtitle">Connect with me on Linkedin</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <div class="container">
                	<ul class="social-list">
                		<li> <a href="https://www.linkedin.com/in/neelybd" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span class="rotate-box-icon"><i class="fa fa-linkedin"></i></a></li>
                   </ul>
                </div>
					</div> <!-- /.container -->
				</div>


            </section>
			<!-- End counter up -->
                

                
                
                
                
            <!-- Begin contact section -->
			<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.75" style="background-image: url(../static/img/map.png);">
            <div class="cover"></div>

                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Contact Me</h2>
                            <div class="divider"></div>
                            <p class="subtitle"></p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                
                <div class="contact wow bounceInRight" data-wow-delay="0.4s">
                    <div class="container">
                    	<div class="row">
                        
                            <div class="col-sm-6">
                                <div class="contact-info">
                                    <h4>Located</h4>
                                    <ul class="contact-address">
			                            <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; Chicago, Illinois</li>
			                            <li><a href="tel:+15418177131" style="color:white">
			                                <i class="fa fa-phone"></i>&nbsp; (541) 817-7431</a></li>
			                            <li><a href="mailto:brian@neelybd.com" style="color:white">
			                                <i class="fa fa-envelope"></i>&nbsp; Career@Neelybd.com</a></li>
			                        </ul>
                                </div>
                            </div>


                        	<div class="col-sm-6">
                                <div class="contact-form">
                                	<h4>Directly contact me</h4>
                                    <form role="form" action="/submit/" method="post">
                                        <div class="form-group">
                                            <input name="name" type="text" class="form-control input-lg" placeholder="Your Name" required value="{{ request.form.name }}">
                                        </div>
                                        <div class="form-group">
                                            <input name="email" type="email" class="form-control input-lg" placeholder="E-mail" required value="{{ request.form.email }}">
                                        </div>
                                        <div class="form-group">
                                            <input name="subject" type="text" class="form-control input-lg" placeholder="Subject" required value="{{ request.form.subject }}">
                                        </div>
                                        <div class="form-group">
                                            <textarea id="message" name="message" class="form-control input-lg" rows="5" placeholder="Message" required></textarea>
                                        </div>
                                        <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Submit</button>
                                        {% for message in get_flashed_messages() %}
                                        {{ message }}
                                        {% endfor %}
                                    </form>
                                </div>
                            </div>
                                                                                
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>



            </section>
            <!-- End contact section -->
                


            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->
                                              
        </div><!-- body ends -->
        
        
        
        
        <!-- Plugins JS -->
		<script src="../static/inc/jquery/jquery-1.11.1.min.js"></script>
		<script src="../static/inc/bootstrap/js/bootstrap.min.js"></script>
		<script src="../static/inc/owl-carousel/js/owl.carousel.min.js"></script>
		<script src="../static/inc/stellar/js/jquery.stellar.min.js"></script>
		<script src="../static/inc/animations/js/wow.min.js"></script>
        <script src="../static/inc/waypoints.min.js"></script>
		<script src="../static/inc/isotope.pkgd.min.js"></script>
		<script src="../static/inc/classie.js"></script>
		<script src="../static/inc/jquery.easing.min.js"></script>
		<script src="../static/inc/jquery.counterup.min.js"></script>
		<script src="../static/inc/smoothscroll.js"></script>

		<!-- Theme JS -->
		<script src="../static/js/theme.js"></script>

    </body> 
        
            
</html>
